# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<ul>
    <li>Collaborating Across Projects and Tools</li>
    <li>Data Organization and Cleaning</li>
    <li>Data Visualization and Sharing</li>
</ul>

Some of the popular languages that Data Scientists use are:
    <ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:
    <ol>
    <li>TensorFlow</li>
    <li>PyTorch</li>
    <li>NumPy</li>
    </ol>

| Data Science Tools |
| --- | 
| IBM Wiston Studio |
| Jupyter Notebooks |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers.

17

In [5]:
200/60 #his will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author
M.U